.top-buffer { margin-top:20px; }
body{
	padding-top: 50px;
}
@media (max-width: 546px){
	.app-title {font-size: 0.8em} 
}
// Medium devices (tablets, 768px and up)
//@media (min-width: 546px) { app-title {font-size: 1.0em;color:#ff0000} }
